@import "tailwindcss";

:root {
  --background: #fbfbfb;
  --foreground: #232222;

  --primary: #9C2327;
  --primary-light: #DAAFB1;

  --secondary: #F47E1F;
  --secondary-light: #F8C39B;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);

  --font-primary: var(--font-league-spartan);
  --font-secondary: var(--font-urbanist);
}


body {
  background: var(--background);
  color: var(--foreground);
}
